@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* In your global CSS file */
.scrollbar-visible {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}
